#weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temperature-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.weather-icon-container {
  width: 5rem;
  height: 5rem;
}

.meta-temperatures {
  display: flex;
  flex-direction: column;
}

.temperature-with-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.5rem;
}

.temperature-with-label > span {
  font-size: 0.625rem;
  margin-right: 0.25rem;
}

#main-temperature {
  margin: 0 1rem 0 0.5rem;
  font-size: 4rem;
}

.sunrise-sunset {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon-stack {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.icon-stack .icon {
  width: 4rem;
  height: 3rem;
  margin: auto;
}

.icon-stack .label {
  font-size: 1.25rem;
}
